Detector Web Site/Web References/WebService/MobileDevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mobiledevice.51degrees.mobi/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mobiledevice.51degrees.mobi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mobiledevice.51degrees.mobi/">
      <s:element name="GetCapability">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="capability" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCapabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCapabilityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCapabilitySoapIn">
    <wsdl:part name="parameters" element="tns:GetCapability" />
  </wsdl:message>
  <wsdl:message name="GetCapabilitySoapOut">
    <wsdl:part name="parameters" element="tns:GetCapabilityResponse" />
  </wsdl:message>
  <wsdl:portType name="MobileDeviceSoap">
    <wsdl:operation name="GetCapability">
      <wsdl:input message="tns:GetCapabilitySoapIn" />
      <wsdl:output message="tns:GetCapabilitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileDeviceSoap" type="tns:MobileDeviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCapability">
      <soap:operation soapAction="http://mobiledevice.51degrees.mobi/GetCapability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobileDeviceSoap12" type="tns:MobileDeviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCapability">
      <soap12:operation soapAction="http://mobiledevice.51degrees.mobi/GetCapability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileDevice">
    <wsdl:port name="MobileDeviceSoap" binding="tns:MobileDeviceSoap">
      <soap:address location="http://localhost/Detector/MobileDevice.asmx" />
    </wsdl:port>
    <wsdl:port name="MobileDeviceSoap12" binding="tns:MobileDeviceSoap12">
      <soap12:address location="http://localhost/Detector/MobileDevice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>